// Border-radius
$br-full: 62.4375rem;
$br-circle: 50%;
$br-10: 1rem;
$br-8: 0.5rem;
$br-6: 0.375rem;
$br-4: 0.25rem;
$br-2: 0.125rem;
$br-px: 0.0625rem;
$br-0: 0rem;

// Border-width
$bw-8: 8px;
$bw-4: 4px;
$bw-2: 2px;
$bw-px: 1px;
$bw-0: 0px;
