// screen
$screen-xxl: 96rem;
$screen-xl: 80rem;
$screen-lg: 65rem;
$screen-md: 50rem;
$screen-sm: 42.5rem;
$screen-xs: 20rem;

// container
$container-xxl: 90rem;
$container-xl: 75rem;
$container-lg: 65rem;
$container-md: 55rem;
$container-sm: 40rem;
$container-xs: 20rem;
