// Generic
$c-black: #000;
$c-white: #fff;
$c-wrapper: #1c1c1c;
// $c-cover: #445666;
// $c-cover: #6d5743;
$c-cover: #6b4842;
// $c-cover: #687170;
$c-page: $c-white;
$c-text: #535353;
$c-hover: #cfcfcf;
// Placeholder
$c-placeholder: #ccc;
