@mixin underline {
    background: linear-gradient($c-white, $c-white);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size $tr-smooth;
    background-size: 0 2px;
    &:hover {
        background-size: 100% 2px;
    }
}

@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

@mixin btn {
    border-radius: $br-6;
    background-color: $c-cover;
    color: $c-warm;
    font-size: $fs-medium;
    transition: background-color $tr-smooth, border-color $tr-smooth,
        color $tr-smooth;
    border: 2px solid transparent;
    font-family: $ff-primary;
    font-size: $fs-small;
    &:hover {
        background-color: $c-warm;
        border-color: rgba($c-cover, 55%);
        color: $c-text;
    }
}
