@mixin underline {
    background: linear-gradient($c-white, $c-white);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size $tr-smooth;
    background-size: 0 2px;
    &:hover {
        background-size: 100% 2px;
    }
}

@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}
