// Specific values
$spacing-common: 6rem;
$spacing-fixed-header: $h-header;

// Padding
$p-96: 24em;
$p-80: 20em;
$p-72: 18em;
$p-64: 16em;
$p-60: 15em;
$p-56: 14em;
$p-52: 13em;
$p-48: 12em;
$p-44: 11em;
$p-40: 10em;
$p-36: 9em;
$p-32: 8em;
$p-28: 7em;
$p-24: 6em;
$p-20: 5em;
$p-16: 4em;
$p-14: 3.5em;
$p-12: 3em;
$p-11: 2.75em;
$p-10: 2.5em;
$p-9: 2.25em;
$p-8: 2em;
$p-7: 1.75em;
$p-6: 1.5em;
$p-5: 1.25em;
$p-4: 1em;
$p-3_5: 0.875em;
$p-3: 0.625em;
$p-2_5: 0.5em;
$p-2: 0.375em;
$p-1_5: 0.25em;
$p-1: 0.125em;
$p-px: 0.0625em;
$p-0: 0em;

// Margin
$m-96: 24rem;
$m-80: 20rem;
$m-72: 18rem;
$m-64: 16rem;
$m-60: 15rem;
$m-56: 14rem;
$m-52: 13rem;
$m-48: 12rem;
$m-44: 11rem;
$m-40: 10rem;
$m-36: 9rem;
$m-32: 8rem;
$m-28: 7rem;
$m-24: 6rem;
$m-20: 5rem;
$m-16: 4rem;
$m-14: 3.5rem;
$m-12: 3rem;
$m-11: 2.75rem;
$m-10: 2.5rem;
$m-9: 2.25rem;
$m-8: 2rem;
$m-7: 1.75rem;
$m-6: 1.5rem;
$m-5: 1.25rem;
$m-4: 1rem;
$m-3_5: 0.875rem;
$m-3: 0.625rem;
$m-2_5: 0.5rem;
$m-2: 0.375rem;
$m-1_5: 0.25rem;
$m-1: 0.125rem;
$m-px: 0.0625rem;
$m-0: 0rem;

// Gap
$g-96: 24rem;
$g-80: 20rem;
$g-72: 18rem;
$g-64: 16rem;
$g-60: 15rem;
$g-56: 14rem;
$g-52: 13rem;
$g-48: 12rem;
$g-44: 11rem;
$g-40: 10rem;
$g-36: 9rem;
$g-32: 8rem;
$g-28: 7rem;
$g-24: 6rem;
$g-20: 5rem;
$g-16: 4rem;
$g-14: 3.5rem;
$g-12: 3rem;
$g-11: 2.75rem;
$g-10: 2.5rem;
$g-9: 2.25rem;
$g-8: 2rem;
$g-7: 1.75rem;
$g-6: 1.5rem;
$g-5: 1.25rem;
$g-4: 1rem;
$g-3_5: 0.875rem;
$g-3: 0.625rem;
$g-2_5: 0.5rem;
$g-2: 0.375rem;
$g-1_5: 0.25rem;
$g-1: 0.125rem;
$g-px: 0.0625rem;
$g-0: 0rem;
