@import 'util';
@import 'base';

body {
    font-size: 100%;
    font-weight: 400;
    font-family: $ff-primary, sans-serif;
    line-height: 1.6;
    color: $c-text;
    background-color: $c-wrapper;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // cursor: $dc-arrow;
}
