{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "tailwind.config.js",
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 100
}
