*,
*::before,
*::after {
    box-sizing: border-box;
}

*::before,
*::after {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
}

li {
    list-style: none;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
