@layer components {
    .common,
    .profile,
    .info,
    .about,
    .tech {
        opacity: 0;
        will-change: transform, opacity;
        animation-duration: 2.5s;
        animation-timing-function: cubic-bezier(0.5, 0, 0, 1);
        animation-fill-mode: both;
    }

    .common,
    .profile {
        animation-name: fade-to-bottom;
        animation-delay: 0.4s;
    }

    .info {
        animation-name: fade-to-right;
        animation-delay: 0.8s;
    }

    .about {
        animation-name: fade-to-left;
        animation-delay: 1.2s;
    }

    .tech {
        animation-name: fade-to-right;
        animation-delay: 1s;
    }

    .fade-in-primary,
    .fade-in-secondary,
    .fade-in-down {
        visibility: hidden;
        opacity: 0;
        will-change: opacity, transform;
    }

    .fade-in-primary {
        animation: fade-in 1s 0.2s cubic-bezier(0.5, 0, 0.5, 1) both;
    }

    .fade-in-secondary {
        animation: fade-in 1s 0.8s cubic-bezier(0.5, 0, 0.5, 1) both;
    }

    .fade-in-down {
        animation: fade-in-down 1s cubic-bezier(0.5, 0, 0.5, 1) both;
    }

    @keyframes fade-in {
        from {
            visibility: hidden;
            opacity: 0;
        }
        to {
            visibility: visible;
            opacity: 1;
        }
    }

    @keyframes fade-in-down {
        from {
            visibility: hidden;
            opacity: 0;
            transform: translateY(-3.75rem);
        }
        to {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-to-right {
        from {
            opacity: 0;
            transform: translateX(-3.75rem);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-to-left {
        from {
            opacity: 0;
            transform: translateX(3.75rem);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-to-bottom {
        from {
            opacity: 0;
            transform: translateY(-3.75rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .slide-enter-active,
    .slide-leave-active {
        transition: transform 0.4s;
    }

    .slide-enter-from,
    .slide-leave-to {
        transform: translateX(8.125rem);
    }
}
