@font-face {
    font-family: 'Retro Signature';
    src: url('../../../public/fonts/RetroSignatureRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../../public/fonts/Gotham-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../../public/fonts/Gotham-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../../public/fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../../public/fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
