@import 'tailwindcss';
@import './tailwind-design.css';
@import './variables.css';
@import './animations.css';

html,
body {
    scroll-behavior: smooth;
    background-color: rgb(var(--secondary-common));
    color: rgb(var(--primary-text));
    font-family: 'Gotham', sans-serif;
}

body {
    @apply w-full relative overflow-x-clip;
    transition:
        background-color 0.35s,
        color 0.35s;
}

.theme-switching,
.theme-switching * {
    transition: none !important;
}
