@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-common: 23 23 28;
        --secondary-common: 8 8 8;
        --nav-bg: 45 45 52;
        --nav-hover: 78 78 90;
        --tooltip-bg: 74 74 85;
        --primary-text: 255 255 255;
        --muted-text: 191 191 191;
        --primary-accent: 128 0 32;
        --secondary-accent: 250 243 224;
        --border-primary: 64 64 69;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #ffffff;
    font-family: 'Gotham';
    font-size: clamp(0.938rem, 0.8873rem + 0.1503vw, 1rem);
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    * *::before *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* transitions */
.common,
.profile,
.info,
.about,
.tech {
    opacity: 0;
    animation:
        opacity 2.5s cubic-bezier(0.5, 0, 0, 1) forwards,
        transform 2.5s cubic-bezier(0.5, 0, 0, 1) forwards;
}

.common {
    animation-name: fade-to-bottom;
    animation-delay: 400ms;
}
.profile {
    animation-name: fade-to-bottom;
    animation-delay: 400ms;
}
.info {
    animation-name: fade-to-right;
    animation-delay: 800ms;
}
.about {
    animation-name: fade-to-left;
    animation-delay: 1200ms;
}
.tech {
    animation-name: fade-to-right;
    animation-delay: 1000ms;
}

.fade-in-primary,
.fade-in-secondary,
.fade-in-down {
    visibility: hidden;
    opacity: 0;
    will-change: opacity, transform;
}
.fade-in-primary {
    animation: fade-in 1s 0.2s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}
.fade-in-secondary {
    animation: fade-in 1s 0.8s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}
.fade-in-down {
    animation: fade-in-down 1s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

.fade-in-down:nth-child(1) {
    animation-delay: 0.1s;
}

.fade-in-down:nth-child(2) {
    animation-delay: 0.2s;
}

.fade-in-down:nth-child(3) {
    animation-delay: 0.3s;
}

.fade-in-down:nth-child(4) {
    animation-delay: 0.4s;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fade-in-down {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-to-right {
    from {
        transform: translateX(-60px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fade-to-left {
    from {
        transform: translateX(60px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fade-to-bottom {
    from {
        transform: translateY(-60px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slide-enter-active {
    transition: transform 0.4s;
}

.slide-leave-active {
    transition: transform 0.4s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(130%);
}
